<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.reza.auth.ui.AuthActivity"
            android:exported="true"
            android:theme="@style/Theme.WeatherApp"/>
    </application>
</manifest>